.App {
	text-align: center;
}

.circle{
	border-radius: 50%;
}

.currentState{
	position: absolute;
	top: 25%;
	left: 35%;
}

.selectedShape{
	position: absolute;
	top: 30%;
	left: 70%;
}

.box{
	position: absolute;
	top: 50%;
	left:35%;
	border: 1px solid;
	height: 30%;
	width: 30%;
}
