.App {
	text-align: center;
}

.circle{
	border-radius: 50%;
}

.currentShape{
	position: absolute;
	top: 25%;
	left: 40%;
}

.selectedShape{
	position: absolute;
	top: 30%;
	left: 70%;
}

.box{
	position: absolute;
	top: 15%;
	left:32%;
	border: 1px solid;
	height: 30%;
	width: 30%;
}

.container{
	height: 10%;
	border: 1px dotted black;
	width: max-content;
}

.histories{
	border: 3px dotted orange;
}

.filterButtons{
	position: absolute;
	top: 20%;
	left: 70%;
}

.filterShape{
	position: absolute;
	top: 25%;
	left: 75%;
}

.buttons {
	position: absolute;
	top: 63%;
	left: 40%;
}

.display {
	position: absolute;
	top: 55%;
	left: 43%;
}

.selectors{
	position: absolute;
	top: 60%;
	left: 42%;
}

.input{
	position: absolute;
	top: 70%;
	left: 40%;
}
